@import url("bootstrap");
@import url("bootstrap-icons");
@import "/node_modules/flag-icons/css/flag-icons.min.css";


/* main utils */
.card {
    position: relative;
    border: none;
}

.card-body {
    width: 100%;
    height: 550px;
    color: white;
    position: absolute;
    opacity: 0;
}

.card:hover>.card-body {
    opacity: 1;
    border: 1px solid rgb(68, 68, 68);
    overflow-y: scroll;
    scrollbar-color: rgb(39, 39, 39) rgb(68, 68, 68)
}

/* main */
img {
    width: 100%;
    height: 550px
}